@charset "UTF-8";


@media (max-width: 1850px) {
	.main_slider_wrapper .carousel-nevigation,
	.agency2_slider_wrapper .carousel-nevigation,
	.beauty_slider_wrapper .carousel-nevigation,
	.const2_slider_wrapper .carousel-nevigation,
	.kid_slider_wrapper .carousel-nevigation,
	.start_slider_wrapper .carousel-nevigation,
	.web_slider_wrapper .carousel-nevigation {
		left: 350px;
	}

}
@media (max-width: 1750px) {
	.main_slider_wrapper .carousel-nevigation,
	.agency2_slider_wrapper .carousel-nevigation,
	.beauty_slider_wrapper .carousel-nevigation {
		left: 310px;
	}

	.const2_news_img_wrapper {
		display: none;
	}
	.const2_newslwtteter_left {
		padding-left: 0;
	}

	.const2_slider_wrapper .carousel-nevigation,
	.kid_slider_wrapper .carousel-nevigation {
		left: 310px;
	}

	.lawyer_experince_content_wrapper {
		padding: 59px 313px 20px 50px;
	}
	.lawyer_client_slider .carousel-indicators li:nth-child(2) {
		left: -260px;
	}
	/* PC Fixer */
	.pcfix_newslwtteter_left {
		padding-left: 0;
	}
	.pcfix_news_img_wrapper {
		display: none;
	}
	/* Startup */
	.start_slider_wrapper .carousel-nevigation {
		left: 310px;
	}
	.startup_shape {
		top: -64%;
		z-index: -1;
	}
	.startup_wrapper {
		padding-bottom: 40px;
	}
	/* Web Hosting */
	.web_slider_wrapper .carousel-nevigation {
		left: 310px;
	}
	.web_about_shape_wrapper {
		left: -29%;
	}
}
@media (max-width: 1700px) {
	.lawyer_experince_content_wrapper {
		padding: 59px 150px 20px 50px;
	}
}
@media (max-width: 1650px) {
	.shape_top_header {
		left: -80px;
	}
	.main_slider_wrapper .carousel-nevigation {
		left: 265px;
	}
	.testi_shape2 {
		right: -290px;
	}
	/* Agency 02 */
	.agency2_top_righ_shape {
		right: -140px;
	}
	.shape_top_agency2_header {
		left: -80px;
	}
	.agency2_slider_wrapper .carousel-nevigation {
		left: 265px;
	}
	.agency2_testi_shape2 {
		right: -290px;
	}
	/* Beauty */
	.beauty_slider_wrapper .carousel-nevigation {
		left: 265px;
	}
	.beauty_banner_shape {
		right: -15%;
	}
	/* Construction 02 */
	.const2_slider_wrapper .carousel-nevigation,
	.kid_slider_wrapper .carousel-nevigation {
		left: 265px;
	}
	/* Kidder */
	.kid_shape_top4 {
		left: -17%;
	}
	.kid_top_shape_wrapper {
		right: 112px;
	}
	.kid_shape_top_wrapper {
		right: -60px;
	}
	/* Lawyer */
	.lawyer_experince_content_wrapper {
		padding: 59px 20px 20px 50px;
	}
	.lawyer_client_slider .carousel-indicators li:nth-child(2) {
		left: -135px;
	}
	.lawyer_client_slider .carousel-indicators li:first-child {
		left: -90px;
	}
	.lawyer_client_slider .carousel-indicators li:last-child {
		left: -60px;
	}
	/* Startup */
	.start_slider_wrapper .carousel-nevigation,
	.web_slider_wrapper .carousel-nevigation {
		left: 265px;
	}
	/* Web Hosting */
}
@media (max-width: 1600px) {
	.shape_top_header {
		left: -80px;
	}
	.main_slider_wrapper .carousel-nevigation {
		left: 250px;
	}
	/* Agency 02 */
	.agency2_top_righ_shape {
		right: -140px;
	}
	.shape_top_agency2_header {
		left: -80px;
	}
	.agency2_slider_wrapper .carousel-nevigation,
	.beauty_slider_wrapper .carousel-nevigation {
		left: 250px;
	}
	/* Beauty */
	/* Business */
	.bussi_banner_shape_wrapper {
		right: -270px;
	}
	/* Construction 01 */
	.const_banner_shape_wrapper {
		right: -260px;
	}
	.single-feature {
		padding: 30px;
	}
	/* Construction 02 */
	.const2_slider_wrapper .carousel-nevigation {
		left: 250px;
	}
	/* It Company */
	.it_comp_slider_wrapper .carousel-indicators {
		left: 12px;
	}
	.it_comp_about_shpe_wrapper {
		left: -100px;
	}
	/* Kidder */
	.kid_slider_wrapper .carousel-nevigation {
		left: 250px;
	}
	.kid_shape_top_2 {
		position: absolute;
		top: -201px;
		right: -116px;
	}
	/* PC Fixer */
	.pcfix_repair_shape {
		left: -77px;
	}
	/* Software */
	.soft_slider_wrapper .carousel-indicators {
		left: 12px;
	}
	/* Startup */
	.start_slider_wrapper .carousel-nevigation {
		left: 250px;
	}
	.start_about_shape_wrapper {
		left: -125px;
	}
	.start_review_img img {
		width: 100%;
		padding-left: 20px;
		padding-right: 30px;
	}
	/* Web Hosting */
	.web_slider_wrapper .carousel-nevigation {
		left: 250px;
	}
	.web_about_shape_wrapper {
		left: -37%;
	}
	.web_client_shape_wrapper {
		right: -34%;
	}
}
@media (max-width: 1500px) {
	.top_righ_shape {
		right: -220px;
	}
	.shape_top_header {
		left: -100px;
	}
	.main_slider_wrapper .carousel-nevigation {
		left: 185px;
	}
	.testi_shape1 {
		left: -40%;
	}
	.testi_shape2 {
		right: -350px;
	}
	.single-feature p {
		width: 265px;
		height: 228px;
	}
	/* Agency 02 */
	.agency2_top_righ_shape {
		right: -220px;
	}
	.shape_top_agency2_header {
		left: -100px;
	}
	.agency2_slider_wrapper .carousel-nevigation {
		left: 185px;
	}
	.agency2_testi_shape1 {
		left: -40%;
	}
	.agency2_testi_shape2 {
		right: -350px;
	}
	/* Beauty */
	.beauty_slider_wrapper .carousel-nevigation {
		left: 185px;
	}
	/* Construction 02 */
	.const2_top_righ_shape {
		right: -220px;
	}
	.const2_slider_wrapper .carousel-nevigation {
		left: 185px;
	}
	.const2_testi_shape1 {
		left: -40%;
	}
	/* Doctor 01 */
	.doc_banner_img_wrapper {
		left: -168px;
	}
	/* It Company */
	.it_comp_slider_wrapper .carousel-indicators {
		left: -33px;
	}
	#it_comp_svg_container {
		bottom: 137px;
	}
	/* Kidder */
	.kid_slider_wrapper .carousel-nevigation {
		left: 185px;
	}
	.kid_top_shape_wrapper {
		right: 0;
	}
	.kid_shape_top_wrapper {
		right: -125px;
	}
	.kid_about_shape_wrapper {
		left: -160px;
	}
	.kid_main_menu_wrapper ul > li {
		margin-right: 14px;
	}
	/* Lawyer */
	.lawyer_experince_img_wrapper {
		width: 100%;
		border-radius: 0;
	}
	.lawyer_experince_img_wrapper img {
		border-radius: 0;
	}
	.lawyer_experince_overlay {
		border-radius: 0;
	}
	.lawyer_experince_content_wrapper {
		width: 100%;
		padding: 80px 40px;
	}
	.lawyer_client_slider .carousel-indicators li:nth-child(2),
	.lawyer_client_slider .carousel-indicators li:first-child {
		left: -40px;
	}
	.lawyer_client_slider .carousel-indicators li:last-child {
		left: 0;
	}
	.lawyer_client_slider .carousel-indicators li:nth-child(3) {
		left: -10px;
	}
	/* PC Fixer */
	.pcfix_menu_wrapper {
		float: right;
	}
	.pcfix_menu_wrapper ul > li {
		margin-right: 14px;
	}
	.pcfix_repair_shape {
		display: none;
	}
	.pcfix_service_wrapper {
		padding-bottom: 70px;
	}
	.pcfix_service_shape {
		right: -50px;
	}
	/* Software */
	.soft_slider_wrapper .carousel-indicators {
		left: -33px;
	}
	#soft_svg_container {
		bottom: 137px;
	}
	/* Startup */
	.start_slider_wrapper .carousel-nevigation {
		left: 185px;
	}
	.startup_shape {
		right: -100px;
	}
	/* Web Hosting */
	.web_slider_wrapper .carousel-nevigation {
		left: 185px;
	}
	.web_top_right_wrapper {
		right: -67%;
	}
}
@media (max-width: 1400px) {
	.top_righ_shape {
		right: -290px;
		z-index: -11;
	}
	.shape_top_header {
		left: -170px;
	}
	.main_slider_wrapper .carousel-nevigation {
		left: 87px;
	}
	.testi_shape1 {
		left: -40%;
	}
	.testi_shape2 {
		right: -420px;
	}
	.slider_main_img_wrapper {
		top: 140px;
	}
	.slider_main_img_wrapper img {
		width: 100%;
	}
	/* Agency 02 */
	.agency2_top_righ_shape {
		right: -290px;
	}
	.shape_top_agency2_header {
		left: -170px;
	}
	.agency2_slider_wrapper .carousel-nevigation {
		left: 87px;
	}
	.agency2_testi_shape1 {
		left: -40%;
	}
	.agency2_testi_shape2 {
		right: -420px;
	}
	.agency2_slider_main_img_wrapper {
		top: 140px;
	}
	.agency2_slider_main_img_wrapper img {
		width: 100%;
	}
	.agency2_about_shape_wrapper img {
		left: 142%;
	}
	/* Beauty */
	.beauty_slider_wrapper .carousel-nevigation {
		left: 87px;
	}
	.beauty_banner_shape {
		right: -30%;
	}
	.beauty_menu_wrapper ul > li > a {
		padding: 15px 3px;
	}
	.beauty_searchd {
		padding-right: 20px;
	}
	.beauty_menu_right_wrapper p {
		padding-right: 20px;
		display: none;
	}
	/* Construction 01 */
	.const_main_menu_wrapper ul > li > a {
		padding: 15px 6px;
	}
	.const_menu_right_wrapper p {
		padding: 8px 15px;
		padding-left: 0;
	}
	/* Construction 02 */
	.const2_slider_wrapper .carousel-nevigation {
		left: 87px;
	}
	.const2_testi_shape1 {
		left: -40%;
	}
	.const2_about_shape_wrapper img {
		left: 142%;
	}
	/* Kidder */
	.kid_slider_wrapper .carousel-nevigation {
		left: 135px;
	}
	.kid_menu_right_wrapper p {
		display: none;
	}
	.kid_main_menu_wrapper ul > li > a {
		padding: 15px 3px;
	}
	.kid_searchd {
		padding-right: 20px;
	}
	.kid_shape_top4 {
		display: none;
	}
	.kid_shape_top_wrapper {
		right: -239px;
	}
	/* PC Fixer */
	.pcfix_slider_area .carousel-indicators {
		right: -120px;
	}
	.pcfix_about_image_wrapper {
		right: 0;
	}
	.pcfix_repair_II_wrapper .pcfix_about_image_wrapper {
		left: -30px;
	}
	.pcfix_service_shape,
	.pcfix_pricing_shape {
		display: none;
	}
	.pcfix_client_slider .carousel-indicators li:first-child,
	.pcfix_client_slider .carousel-indicators li:nth-child(3) {
		left: 0;
	}
	.pcfix_client_slider .carousel-indicators li:nth-child(2) {
		left: -30px;
	}
	/* Startup */
	.start_slider_wrapper .carousel-nevigation {
		left: 87px;
	}
	.start_slider_main_img_wrapper {
		top: 140px;
	}
	.start_slider_main_img_wrapper img {
		width: 100%;
	}
	.start_top_righ_shape,
	.startup_shape {
		right: -200px;
	}
	.start_about_shape_wrapper {
		left: -266px;
	}
	.start_about_img_wrapper {
		left: 0;
	}
	.start_about_img_wrapper img {
		width: 100%;
	}
	.startup_img_wrapper {
		right: 0;
	}
	.start_saying_content_wrapper p {
		padding-right: 0;
	}
	.start_client_wrapper {
		padding-bottom: 180px;
	}
	/* Web Hosting */
	.web_slider_wrapper .carousel-nevigation {
		left: 135px;
		left: 87px;
	}
	.web_menu_wrapper ul > li > a {
		padding: 15px 3px;
	}
	.web_about_shape_wrapper {
		left: -42%;
	}
	.web_client_shape_wrapper {
		right: -41%;
	}
}
@media (max-width: 1300px) {
	/* Construction 01 */
	.const_main_menu_wrapper ul > li > a {
		padding: 15px 0px;
	}
	.const_menu_right_wrapper p {
		padding: 8px 15px;
		padding-left: 0;
	}
	.const_menu_top_wrapper {
		padding: 0;
	}
	.const_banner_shape_wrapper {
		right: -368px;
	}
	.const_about_image_wrapper svg {
		left: 49px;
		width: 100%;
	}
	.single-feature p {
		width: 230px;
	}
	/* Doctor 01 */
	.doc_about_image_wrapper img,
	.doc_about_image_wrapper svg {
		width: 100%;
	}
	.doc_about_section {
		padding: 0;
	}
	.doc_about_image_wrapper svg {
		left: 49px;
		bottom: -46px;
	}
	.doc_banner_img_wrapper {
		left: -250px;
	}
	/* It Company */
	.it_comp_slider_wrapper .carousel-indicators {
		left: -85px;
	}
	.it_comp_shape_top_wrapper {
		right: -130px;
	}
	.it_comp_about_shpe_wrapper {
		left: -229px;
	}
	#it_comp_svg_container {
		bottom: 171px;
	}
	/* Software */
	.soft_slider_wrapper .carousel-indicators {
		left: -114px;
	}
	#soft_svg_container {
		bottom: 171px;
	}
}
@media (max-width: 1200px) {
	.bussi_banner_shape_wrapper {
		right: -526px;
	}
	.const2_slider_bottom_img .image2 {
		position: static;
	}
	.const2_slider_bottom_img img:first-child {
		display: none;
	}
}
@media (min-width: 1200px) and (max-width: 1300px) {
	#section-quote .container-pe-quote.right {
		right: 30px;
	}
	#section-quote .container-pe-quote.left {
		left: 70px;
	}
	.main_menu_wrapper ul > li > a {
		padding: 15px 5px;
	}
	.main_slider_wrapper .carousel-nevigation {
		left: 64px;
	}
	/* Agency 02 */
	.agency2_testimonial_section #section-quote .container-pe-quote.right {
		right: 30px;
	}
	.agency2_testimonial_section #section-quote .container-pe-quote.left {
		left: 70px;
	}
	.agency2_menu_wrapper ul > li > a {
		padding: 15px 5px;
	}
	.agency2_slider_wrapper .carousel-nevigation,
	.beauty_slider_wrapper .carousel-nevigation {
		left: 64px;
	}
	/* Beauty */
	.beauty_menu_wrapper ul > li > a {
		padding: 15px 5px;
	}
	/* Construction 02 */
	.const2_testimonial_wrapper #section-quote .container-pe-quote.right {
		right: 30px;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote.left {
		left: 70px;
	}
	.const2_main_menu_wrapper ul > li > a {
		padding: 15px 5px;
	}
	.const2_slider_wrapper .carousel-nevigation {
		left: 64px;
	}
	/* Kidder */
	.kid_main_menu_wrapper ul > li > a {
		padding: 15px 5px;
	}
	.kid_slider_wrapper .carousel-nevigation {
		left: 64px;
	}
	/* PC Fixer */
	.pcfix_menu_wrapper ul > li > a {
		padding: 15px 2px;
	}
	.pcfix_slider_main_img_wrapper img {
		left: 32px;
	}
	/* Startup */
	.start_menu_wrapper ul > li > a {
		padding: 15px 5px;
	}
	.start_slider_wrapper .carousel-nevigation {
		left: 64px;
	}
	/* Web Hosting */
	.web_menu_wrapper ul > li > a {
		padding: 15px 5px;
	}
	.web_slider_wrapper .carousel-nevigation {
		left: 64px;
	}
	.web_about_shape_wrapper,
	.web_client_shape_wrapper,
	.web_top_right_wrapper {
		display: none;
	}
}
@media (max-width: 1199px) {
	.bussi_resp_main_heade {
		float: right;
	}
	.main_slider_wrapper .carousel-inner .carousel-item .carousel-captions .content h2 {
		font-size: 44px;
	}
	.main_slider_wrapper .carousel-nevigation {
		left: 120px;
	}
	.main_slider_wrapper .carousel-inner .carousel-item .carousel-captions .content h2 {
		margin-bottom: 3px;
	}
	.about_shape_wrapper {
		left: 0;
	}
	.work_tabs_wrapper .nav-tabs .nav-link {
		padding: 10px 25px;
		font-size: 16px;
	}
	.slider_main_img_wrapper {
		top: 170px;
	}
	
	/* Construction 02 */
	.const2_slider_wrapper .carousel-inner .carousel-item .carousel-captions .const2_content h2 {
		font-size: 44px;
	}
	.const2_slider_wrapper .carousel-nevigation {
		left: 120px;
	}
	.const2_slider_wrapper .carousel-inner .carousel-item .carousel-captions .const2_content h2 {
		margin-bottom: 3px;
	}
	.const2_about_shape_wrapper {
		left: 0;
	}
	.const2_work_tabs_wrapper .nav-tabs .nav-link {
		padding: 10px 25px;
		font-size: 16px;
	}
	.const2_sp_category_wrapper:after {
		bottom: 44%;
	}
	.const2_lawyer_accordian_wraper {
		padding-top: 0;
	}
	.const2_about_shape_wrapper {
		display: none;
	}
	.const2_sp_category_wrapper {
		padding-top: 100px;
	}
	.const2_const2_about_us_wrapper {
		padding-bottom: 60px;
	}
	
	/* Startup */
	.start_slider_wrapper .carousel-inner .carousel-item .carousel-captions .content h2 {
		font-size: 36px;
		line-height: 50px;
	}
	.start_slider_wrapper .carousel-nevigation {
		left: 120px;
	}
	.start_slider_wrapper .carousel-inner .carousel-item .carousel-captions .content h2 {
		margin-bottom: 3px;
	}
	.start_work_tabs_wrapper .nav-tabs .nav-link {
		padding: 10px 25px;
		font-size: 16px;
	}
	.start_slider_main_img_wrapper {
		top: 170px;
	}
	.start_menu_wrapper ul > li {
		margin-right: 13px;
	}
	.start_menu_right_wrapper .start_btn_style {
		width: 135px;
	}
	.start_slider_wrapper .carousel-inner .carousel-item .carousel-captions .content h1 {
		font-size: 34px;
	}
	.start_slider_wrapper .carousel-inner .carousel-item .carousel-captions .content ul {
		margin-top: 20px;
	}
	.start_slider_wrapper .carousel-nevigation {
		bottom: 28%;
	}
	.start_slider_wrapper .carousel-inner .carousel-item .caption-1,
	.start_slider_wrapper .carousel-inner .carousel-item .caption-2,
	.start_slider_wrapper .carousel-inner .carousel-item .caption-3 {
		min-height: 690px;
	}
	.start_category_wrapper {
		padding-top: 0;
	}
	.start_about_shape_wrapper,
	.startup_shape {
		display: none;
	}
	.start_about_img_wrapper {
		top: 0;
		padding-bottom: 40px;
	}
	.start_about_img_wrapper img {
		width: auto;
	}
	.start_about_us_wrapper {
		padding-bottom: 70px;
	}
	.startup_img_wrapper {
		top: 0;
		padding-top: 20px;
	}
	.startup_wrapper {
		padding-bottom: 100px;
	}
	.start_review_img {
		display: none;
	}
	.start_review_testimonial {
		width: 100%;
		padding: 0 20px;
	}
	.start_review_testimonial_slider .owl-theme .owl-nav .owl-prev {
		left: auto;
		margin-left: -60px;
	}
	.start_review_testimonial_slider .owl-theme .owl-nav .owl-next {
		left: auto;
		margin-left: 5px;
	}
	.start_searchd {
		padding-right: 20px;
	}
	.start_icon_list_news li {
		margin-right: 8px;
	}
	
}
@media (min-width: 992px) and (max-width: 1199px) {
	#section-quote .container-pe-quote .li-quote-1 {
		left: 0;
	}
	#section-quote .container-pe-quote .li-quote-2 {
		left: 30px;
	}
	#section-quote .container-pe-quote .li-quote-9,
	#section-quote .container-pe-quote .li-quote-4 {
		display: none;
	}
	#section-quote .container-pe-quote .li-quote-10 {
		right: 140px;
	}
	.testi_shape2 {
		top: -140px;
		right: -420px;
	}
	.footer_shape {
		top: -467px;
	}
	.main_menu_wrapper ul > li > a {
		padding: 15px 5px;
	}
	.menu_right_wrapper {
		float: right;
	}
	.main_menu_wrapper {
		padding-left: 95px;
	}

	.const_pricing_section .const_pricing-list li {
		font-size: 18px;
	}
	.const_testimonial_wrapper .const_testimonial_text_wrapper p {
		width: auto;
	}
	.const_banner_cntnt h1 {
		font-size: 46px;
		line-height: 60px;
	}
	.const_counter_section .const_count-description {
		font-size: 22px;
	}
	.const_counter_section h4 a {
		font-size: 18px;
	}
	.const_main_menu_wrapper ul > li > a {
		padding: 15px 12px;
		color: #fff;
	}
	.const_about_image_wrapper img {
		width: 100%;
	}
	.const_searchd {
		color: #fff;
		padding-left: 15px;
	}
	.const_menu_right_wrapper p {
		display: none;
	}
	.const_main_menu_wrapper ul > li {
		margin-right: 3px;
	}
	.const_top_shape_wrapper {
		left: -93px;
		top: -78px;
	}
	.const_logo_wrapper {
		padding-left: 0;
	}
	.const_banner_shape_wrapper {
		display: none;
	}
	.const_banner_btn ul {
		margin-top: 20px;
	}
	.const_play_trigger {
		left: 59%;
		top: 73%;
	}
	.const_accordian_wraper {
		padding-top: 50px;
	}
	.single-feature {
		padding: 20px;
	}
	.single-feature .media-heading {
		font-size: 18px;
	}
	.single-feature p {
		font-size: 14px;
		width: 205px;
	}
	/* Construction 02 */
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-1 {
		left: 0;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-2 {
		left: 30px;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-9,
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-4 {
		display: none;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-10 {
		right: 140px;
	}
	.const2_footer_shape {
		top: -475px;
	}
	.const2_main_menu_wrapper ul > li > a {
		padding: 15px 2px;
	}
	.const2_menu_right_wrapper {
		float: right;
	}
	.const2_slider_main_img_wrapper {
		right: 0;
	}
	.const2_top_righ_shape {
		right: -284px;
	}
	.const2_testi_shape1 {
		left: -53%;
	}
	.const2_monthly {
		left: -33px;
	}
	.const2_slider_bottom_text h2 {
		font-size: 28px;
		padding-bottom: 15px;
	}
	
}
@media (max-width: 1050px) {
	.shape_top_header {
		left: -230px;
	}
	.main_menu_wrapper {
		padding-left: 50px;
	}
	.main_slider_wrapper .carousel-nevigation {
		left: 55px;
	}
	
	/* Startup */
	.start_slider_wrapper .carousel-nevigation {
		left: 55px;
	}
	.start_shape_top_header {
		left: -50px;
	}
	.start_menu_wrapper ul > li {
		margin-right: 8px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.bussi_banner_left_img {
		top: 50px;
		left: -250px;
	}
}
@media (max-width: 991px) {
	#section-quote .container-quote .quote {
		width: 100%;
		padding: 0 100px;
	}
	#section-quote .container-pe-quote {
		width: 100%;
		height: 460px;
		bottom: 0px;
		top: initial;
	}
	#section-quote .container-pe-quote .li-quote-9 {
		height: 52px;
		width: 52px;
		left: 45%;
		top: 25%;
		height: 52px;
		width: 52px;
		left: 22%;
		top: 65%;
	}
	#section-quote .container-pe-quote .li-quote-13 {
		height: 37px;
		width: 37px;
		left: 75%;
		top: 80%;
	}
	#section-quote .container-pe-quote .li-quote-8 {
		height: 52px;
		width: 52px;
		right: 45%;
		top: 73%;
	}
	#section-quote .container-pe-quote .li-quote-10 {
		height: 52px;
		width: 52px;
		left: 30%;
		top: 76%;
	}
	#section-quote .container-pe-quote .pp-quote {
		animation-name: none;
		-webkit-animation-name: none;
	}
	#section-quote .container-pe-quote .li-quote-7 {
		height: 52px;
		width: 52px;
		right: 30%;
		top: 82%;
	}
	#section-quote .container-pe-quote .li-quote-11 {
		height: 52px;
		width: 52px;
		left: 85%;
		top: 80%;
	}
	#section-quote .container-pe-quote .li-quote-1,
	#section-quote .container-pe-quote .li-quote-2,
	#section-quote .container-pe-quote .li-quote-3,
	#section-quote .container-pe-quote .li-quote-4,
	#section-quote .container-pe-quote .li-quote-5,
	#section-quote .container-pe-quote .li-quote-6 {
		display: none;
	}
	#section-quote .container-quote {
		height: 185px;
	}
	.menu_right_wrapper {
		float: right;
	}
	.menu_right_wrapper .btn_style {
		margin-right: 15px;
	}
	.shape_top_header {
		left: -180px;
	}
	.searchd {
		padding-right: 15px;
	}
	.slider_main_img_wrapper,
	.testi_shape1,
	.testi_shape2,
	.footer_shape {
		display: none;
	}
	.main_slider_wrapper .carousel-inner .carousel-item .carousel-captions .content {
		text-align: center;
	}
	.main_slider_wrapper .carousel-nevigation {
		left: 0;
		right: 0;
		margin: 0px auto;
		text-align: center;
		bottom: 27%;
	}
	.main_slider_wrapper .carousel-nevigation > .next {
		left: auto;
		margin-left: -8px;
	}
	.main_slider_wrapper .carousel-nevigation > .prev {
		left: auto;
		margin-left: -75px;
	}
	.main_slider_wrapper .carousel-inner .carousel-item .caption-1,
	.main_slider_wrapper .carousel-inner .carousel-item .caption-2,
	.main_slider_wrapper .carousel-inner .carousel-item .caption-3 {
		min-height: 690px;
	}
	.testimonial_wrapper {
		padding: 0;
	}
	.const2_sp_couter_years {
		margin-bottom: 10px;
	}
	.sp_services_box h1 {
		font-size: 18px;
	}
	.about_shape_wrapper svg {
		width: 100%;
	}
	.about_shape_wrapper img {
		left: 0;
		width: 100%;
	}
	.about_us_wrapper,
	.lawyer_accordian_wraper {
		padding-top: 0;
	}
	.work_process_content {
		padding-top: 50px;
	}
	.pricing_box_wrapper {
		margin-top: 40px;
	}
	.monthly {
		left: -225px;
	}
	.jb_newslwtteter_left h2 {
		font-size: 30px;
	}
	.menu_fixed #toggle a i:before {
		color: #fff;
	}
	#section-quote .container-quote {
		margin-top: 95px;
	}
	.main_slider_wrapper .carousel-inner .carousel-item .carousel-captions .content {
		padding-top: 160px;
	}
	.location_wrapper .contect_btn {
		margin-bottom: 40px;
	}
	/* Construction 01 */
	.const_testimonial_wrapper {
		padding-left: 0;
		text-align: center;
	}
	.const_testimonial_wrapper .const_testimonial_text_wrapper p {
		width: auto;
	}
	.const_testimonial_wrapper .const_testimonial_img_wrapper {
		left: 55%;
		margin-left: -75px;
		top: -40px;
		width: 110px;
	}
	.const_testimonial_wrapper .const_testimonial_text_wrapper {
		background: #fff;
		padding: 80px 25px 25px;
	}
	.const_footer_contact_wrapper {
		padding-top: 40px;
	}
	.const_pricing_section {
		padding-bottom: 50px;
	}
	.const_pricing_section .const_pricing-table-default {
		margin-bottom: 50px;
	}
	.const_counter_section .const_count-description {
		padding-bottom: 10px;
	}
	.const_counter_icon {
		float: none;
		padding-right: 0;
		text-align: center;
		padding-bottom: 15px;
	}
	.const_counter_section i:before {
		float: none;
		padding-right: 0;
	}
	.const_counter_text {
		float: none;
		text-align: center;
	}
	.const_counter_box {
		width: 100%;
		margin-bottom: 40px;
	}
	.const_c_box1,
	.const_c_box2 {
		border: 0;
	}
	.const_searchd {
		color: #fff;
	}
	.const_menu_right_wrapper {
		float: right;
	}
	.const_counter_section {
		padding-bottom: 50px;
	}
	.const_main_menu_wrapper .navbar-inverse .navbar-nav > li > a {
		color: #fff;
	}
	.const_menu_right_wrapper {
		float: right;
	}
	.const_menu_right_wrapper .const_btn_style {
		margin-right: 24px;
	}
	.const_banner_shape_wrapper {
		display: none;
	}
	.const_menu_right_wrapper p {
		color: #fff;
		padding: 8px 25px 8px 10px;
	}
	#const_toggle a {
		color: #fff;
	}
	.const_banner_cntnt,
	.const_home_banner_scroll {
		padding-top: 80px;
	}
	.const_banner_image {
		float: left;
		padding-top: 40px;
	}
	.const_service_shape svg {
		display: none;
	}
	.const_service_box_wrapper {
		border: 1px solid #e6e6e6;
	}
	.const_about_image_wrapper {
		text-align: center;
	}
	.const_play_trigger {
		left: 46%;
		top: 69%;
	}
	.const_about_content_wrapper p {
		width: 100%;
	}
	.const_about_image_wrapper svg {
		left: 0;
	}
	.const_about_content_wrapper {
		padding-top: 100px;
	}
	.const_accordian_wraper {
		padding-top: 50px;
	}
	/* Construction 02 */
	.const2_testimonial_wrapper #section-quote .container-quote .quote {
		width: 100%;
		padding: 0 100px;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote {
		width: 100%;
		height: 460px;
		bottom: 0px;
		top: initial;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-9 {
		height: 52px;
		width: 52px;
		left: 45%;
		top: 25%;
		height: 52px;
		width: 52px;
		left: 22%;
		top: 65%;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-13 {
		height: 37px;
		width: 37px;
		left: 75%;
		top: 80%;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-8 {
		height: 52px;
		width: 52px;
		right: 45%;
		top: 73%;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-10 {
		height: 52px;
		width: 52px;
		left: 30%;
		top: 76%;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .const2_pp-quote {
		animation-name: none;
		-webkit-animation-name: none;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-7 {
		height: 52px;
		width: 52px;
		right: 30%;
		top: 82%;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-11 {
		height: 52px;
		width: 52px;
		left: 85%;
		top: 80%;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-1,
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-2,
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-3,
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-4,
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-5,
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-6 {
		display: none;
	}
	.const2_testimonial_wrapper #section-quote .container-quote {
		height: 185px;
	}
	.const2_menu_right_wrapper {
		float: right;
		width: 40%;
	}
	.const2_menu_right_wrapper .const2_btn_style {
		margin-right: 24px;
	}
	.const2_searchd {
		padding-right: 20px;
	}
	.const2_testi_shape1,
	.const2_const2_testi_shape2 {
		display: none;
	}
	.const2_slider_main_img_wrapper
	{
		margin-bottom: 150px;
		width: auto;
		padding: 45px;
		position: unset;
		margin-inline: auto;
	}
	.const2_footer_shape {
		display: none;
	}
	.const2_slider_wrapper .carousel-inner .carousel-item .carousel-captions .const2_content {
		text-align: center;
	}
	.const2_slider_wrapper .carousel-nevigation > .next {
		left: auto;
		margin-left: -8px;
	}
	.const2_slider_wrapper .carousel-nevigation > .prev {
		left: auto;
		margin-left: -75px;
	}
	.const2_slider_wrapper .carousel-inner .carousel-item .caption-1,
	.const2_slider_wrapper .carousel-inner .carousel-item .caption-2,
	.const2_slider_wrapper .carousel-inner .carousel-item .caption-3 {
		min-height: 690px;
	}
	.const2_testimonial_wrapper {
		padding: 0;
	}
	.const2_sp_couter_years {
		margin-bottom: 10px;
	}
	.const2_sp_services_box h1 {
		font-size: 18px;
	}
	.const2_about_shape_wrapper svg {
		width: 100%;
	}
	.const2_about_shape_wrapper img {
		left: 0;
		width: 100%;
	}
	.const2_const2_about_us_wrapper,
	.const2_lawyer_accordian_wraper {
		padding-top: 0;
	}
	.const2_const2_work_process_content {
		padding-top: 50px;
	}
	.const2_pricing_box_wrapper {
		margin-top: 40px;
	}
	.const2_monthly {
		left: -225px;
	}
	.const2_testimonial_wrapper #section-quote .container-quote {
		margin-top: 95px;
	}
	.const2_slider_wrapper .carousel-inner .carousel-item .carousel-captions .const2_content {
		padding-top: 150px;
	}
	.const2_slider_wrapper .carousel-nevigation {
		bottom: 23%;
		left: -9px;
		right: 0;
		margin: 0px auto;
		text-align: center;
	}
	.const2_sp_category_wrapper:after {
		display: none;
	}
	.const2_sp_services_box {
		padding-bottom: 40px;
	}
	.const2_sp_category_wrapper {
		padding-bottom: 50px;
		padding-top: 40px;
	}
	.const2_top_righ_shape {
		display: none;
	}
	.const2_menu_right_wrapper .const2_btn_style {
		background: #ffc13b;
		color: #fff;
		border: 1px solid #ffc13b;
	}
	.const2_menu_right_wrapper .const2_btn_style:hover {
		background: transparent;
		color: #ffc13b;
	}
	.single-feature {
		width: 100%;
	}
	.single-feature p {
		width: 325px;
	}
	.const2_newslwtteter_left {
		width: 100%;
		text-align: center;
	}
	.const2_newslwtteter_button {
		width: 100%;
		text-align: center;
	}
	.const2_newslwtteter_button .const2_work_btn_style {
		float: none;
		margin-top: 30px;
		display: inline-block;
	}
	.const2_slider_bottom_img {
		float: none;
		text-align: center;
		padding-bottom: 50px;
	}
	.const2_slider_bottom_text {
		text-align: center;
	}
	.const2_slider_bottom_wrapper {
		padding-top: 0;
	}
	
	/* Startup */
	.start_slider_main_img_wrapper,
	.start_top_righ_shape {
		display: none;
	}
	.start_menu_right_wrapper {
		float: right;
	}
	.start_menu_right_wrapper .start_btn_style {
		margin-right: 30px;
	}
	.start_searchd {
		padding-right: 25px;
	}
	.start_slider_wrapper .carousel-inner .carousel-item .carousel-captions .content {
		text-align: center;
	}
	.start_slider_wrapper .carousel-nevigation {
		left: 0;
		right: 0;
		margin: 0px auto;
		text-align: center;
		bottom: 27%;
	}
	.start_slider_wrapper .carousel-nevigation > .next {
		left: auto;
		margin-left: -8px;
	}
	.start_slider_wrapper .carousel-nevigation > .prev {
		left: auto;
		margin-left: -75px;
	}
	.start_slider_wrapper .carousel-inner .carousel-item .caption-1,
	.start_slider_wrapper .carousel-inner .carousel-item .caption-2,
	.start_slider_wrapper .carousel-inner .carousel-item .caption-3 {
		min-height: 690px;
	}
	.start_services_box h1 {
		font-size: 18px;
	}
	.start_about_us_wrapper {
		padding-top: 0;
	}
	.start_start_work_process_wrapper {
		padding-top: 50px;
	}
	.start_newslwtteter_left h2 {
		font-size: 30px;
	}
	.start_menu_fixed #start_toggle a i:before {
		color: #fff;
	}
	.start_slider_wrapper .carousel-inner .carousel-item .carousel-captions .content {
		padding-top: 160px;
	}
	.start_shape_top_header {
		left: 0;
	}
	.start_services_box {
		margin-bottom: 40px;
	}
	.start_category_wrapper {
		padding-bottom: 60px;
	}
	.start_work_tabs_wrapper .nav-tabs .nav-link {
		padding: 10px 15px;
	}
	.start_start_work_process_img img {
		width: auto;
	}
	.footer_pader {
		padding-left: 15px;
	}
	.start_footer_links {
		margin-bottom: 30px;
	}
	.start_footer_wrapper {
		padding-bottom: 35px;
	}
	
}
@media (max-width: 767px) {
	.sp_services_box {
		margin-bottom: 30px;
	}
	.sp_category_wrapper {
		padding-bottom: 60px;
	}
	.sp_services_box h1 {
		font-size: 22px;
	}
	.about_shape_wrapper svg {
		display: none;
	}
	.about_shape_wrapper img {
		position: relative;
		top: 0;
		padding-bottom: 30px;
	}
	.work_tabs_wrapper .nav li {
		float: none;
		display: inline-block;
	}
	.monthly {
		left: -140px;
	}
	.jb_newslwtteter_left {
		width: 100%;
	}
	.jb_newslwtteter_button {
		width: 100%;
	}
	.jb_newslwtteter_button .work_btn_style {
		float: left;
		margin-top: 20px;
	}
	.serach-header .searchbox form input {
		width: 90%;
	}
	.serach-header .searchbox form button {
		left: 75%;
	}
	/* Construction 01 */
	.const_box2 {
		margin-bottom: 30px;
	}
	.const_banner_cntnt {
		text-align: center;
	}
	.const_home_banner_scroll {
		display: inline-block;
	}
	.const_home_banner_scroll a span {
		float: none;
		width: 100%;
		padding-right: 0;
		display: inline-block;
	}
	.const_banner_btn ul li {
		float: none;
	}
	.const_banner_btn ul li:last-child {
		padding-top: 170px;
	}
	.const_btn_icon {
		margin-left: 0px;
	}
	.const_searchd {
		padding-top: 9px;
		padding-right: 20px;
	}
	.const_serach_header .const_searchbox form input {
		width: 90%;
	}
	.const_footer_menu_wrapper {
		padding-top: 40px;
	}
	.const_section_heading h2 {
		font-size: 34px;
	}
	.const_play_trigger {
		left: 50%;
	}
	/* Construction 02 */
	.const2_sp_services_box {
		margin-bottom: 30px;
	}
	.const2_sp_category_wrapper {
		padding-bottom: 60px;
	}
	.const2_sp_services_box h1 {
		font-size: 22px;
	}
	.const2_about_shape_wrapper svg {
		display: none;
	}
	.const2_about_shape_wrapper img {
		position: relative;
		top: 0;
		padding-bottom: 30px;
	}
	.const2_work_tabs_wrapper .nav li {
		float: none;
		display: inline-block;
	}
	.const2_monthly {
		left: -140px;
	}
	.const2_serach_header .const2_searchbox form input {
		width: 90%;
	}
	.const2_serach_header .const2_searchbox form button {
		left: 75%;
	}
	.const2_pricing_list22 {
		padding: 30px;
	}
	.const2_slider_wrapper .carousel-inner .carousel-item .carousel-captions .const2_content {
		padding-top: 175px;
	}
	
	.start_services_box {
		margin-bottom: 30px;
	}
	.start_category_wrapper {
		padding-bottom: 60px;
	}
	.start_services_box h1 {
		font-size: 22px;
	}
	.start_work_tabs_wrapper .nav li {
		float: none;
		display: inline-block;
	}
	.start_newslwtteter_left,
	.start_about_img_wrapper img,
	.startup_img_wrapper img {
		width: 100%;
	}
	.start_newslwtteter_button {
		width: 100%;
	}
	.start_newslwtteter_button .start_work_btn_style {
		float: left;
		margin-top: 20px;
	}
	.start_serach_header .start_searchbox form input {
		width: 90%;
	}
	.start_serach_header .start_searchbox form button {
		left: 75%;
	}
	.start_about_content_wrapper h1 {
		font-size: 32px;
	}
	.start_start_work_process_wrapper {
		padding-left: 0;
	}
	.start_footer_content_box {
		margin-bottom: 30px;
	}
}
@media (max-width: 660px) {
	#section-quote .container-quote .quote {
		padding: 0 20px;
	}
	.sp_counter_box_shape {
		margin-bottom: 40px;
	}
	.sp_category_wrapper {
		padding-top: 50px;
	}
	.monthly {
		display: none;
	}
	#return-to-top {
		right: 30px;
	}
	.work_process_img img {
		width: 100%;
	}
	
	/* Construction 02 */
	.const2_testimonial_wrapper #section-quote .container-quote .quote {
		padding: 0 20px;
	}
	.const2_sp_category_wrapper {
		padding-top: 50px;
	}
	.const2_monthly {
		display: none;
	}
	#const2-return-to-top {
		right: 30px;
	}
	.const2_work_process_img img {
		width: 100%;
	}
	/* Startup */
	.start_category_wrapper {
		padding-top: 50px;
	}
	#start-return-to-top {
		right: 30px;
	}
	.start_start_work_process_img img {
		width: 100%;
	}
}
@media (max-width: 580px) {
	.beauty_client_slider .carousel-indicators li:first-child,
	.beauty_client_slider .carousel-indicators li:nth-child(2),
	.beauty_client_slider .carousel-indicators li:nth-child(3),
	.beauty_client_slider .carousel-indicators li:last-child {
		width: 50px;
		height: 50px;
	}
	.beauty_client_slider ol.carousel-indicators {
		margin-left: 7%;
	}
	.beauty_slider_wrapper .carousel-nevigation {
		bottom: 36%;
	}
	.beauty_section_heading h2 {
		font-size: 30px;
	}
	.serach-beauty_header .beauty_searchbox form input {
		width: 85%;
	}
	.serach-beauty_header .beauty_searchbox form button {
		left: auto;
		right: 40px;
	}
	.beauty_client_slider .carousel-control {
		display: none;
	}
	#beauty-return-to-top {
		right: 30px;
	}
	
	/* Construction 01 */
	.const_menu_right_wrapper p {
		display: none;
	}

}
@media (max-width: 480px) {
	#section-quote .container-quote .quote p {
		font-size: 20px;
		line-height: 20pt;
	}
	#section-quote .container-pe-quote .li-quote-9,
	#section-quote .container-pe-quote .li-quote-8 {
		display: none;
	}
	#section-quote .container-quote .quote {
		padding: 0 20px;
	}
	#section-quote .container-pe-quote .li-quote-11 {
		left: 91%;
		top: 85%;
	}
	.shape_top_header {
		left: -218px;
	}
	.main_slider_wrapper .carousel-nevigation {
		bottom: 25%;
	}
	
	/* Construction 01 */
	.const_banner_cntnt p {
		font-size: 15px;
		line-height: 25px;
	}
	.const_banner_cntnt h1 {
		font-size: 38px;
		line-height: 40px;
	}
	.const_logo_wrapper {
		padding-left: 0;
	}
	.const_top_shape_wrapper {
		top: -79px;
		left: -101px;
	}
	.const_about_image_wrapper svg {
		display: none;
	}
	.const_about_content_wrapper li {
		font-size: 16px;
	}
	/* Construction 02 */
	.const2_testimonial_wrapper #section-quote .container-quote .quote p {
		font-size: 20px;
		line-height: 20pt;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-9,
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-8 {
		display: none;
	}
	.const2_testimonial_wrapper #section-quote .container-quote .quote {
		padding: 0 20px;
	}
	.const2_testimonial_wrapper #section-quote .container-pe-quote .li-quote-11 {
		left: 91%;
		top: 85%;
	}
	
	/* Startup */
	.start_slider_wrapper .carousel-nevigation {
		bottom: 25%;
	}
	.start_shape_top_header {
		display: none;
	}
	.start_header {
		background: #7e50ff;
		padding-bottom: 20px;
	}
	.start_searchd,
	#start_toggle a i:before {
		color: #fff;
	}
	
}
@media (max-width: 460px) {
	.beauty_client_slider ol.carousel-indicators {
		margin-left: 13%;
	}
	.beauty_client_slider .carousel-indicators li:first-child {
		margin-left: 0;
	}
	.beauty_client_Wrapper {
		padding-bottom: 110px;
	}
	.beauty_about_image_wrapper svg {
		display: none;
	}
}
@media (max-width: 380px) {
	.main_slider_wrapper .carousel-inner .carousel-item .carousel-captions .content h2 {
		font-size: 38px;
		line-height: 52px;
	}
	.agency2_work_tabs_wrapper .nav-tabs .nav-link {
		padding: 10px 20px;
	}
	
	/* Construction 02 */
	.const2_slider_wrapper .carousel-inner .carousel-item .carousel-captions .const2_content h2 {
		font-size: 38px;
		line-height: 52px;
	}
	.const2_work_tabs_wrapper .nav-tabs .nav-link {
		padding: 10px 20px;
	}
	.const2_slider_wrapper .carousel-nevigation {
		bottom: 19%;
	}
	
}
@media (max-width: 360px) {
	.bussi_banner_image {
		display: none;
	}
}
@media (max-width: 320px) {
	.beauty_wrapper_first_image img {
		width: 100%;
	}
	
	/* Construction 01 */
	.const_footer_contact_wrapper input,
	.const_footer_contact_wrapper .const_btn_style {
		width: 290px;
	}
	.const_footer_copyright p {
		font-size: 14px;
	}
	.const_banner_cntnt p {
		font-size: 13px;
		line-height: 23px;
	}
	/* PC Fixer */
	.pcfix_slider_area .carousel-indicators {
		left: -66px;
	}
	.pcfix_about_image_wrapper svg {
		bottom: -130px;
	}
}